@backgroundColor: #D9E2E6;

@clockSize: 36px;
@baseSize: @clockSize/35;

@handLength: 13 * @baseSize;
@axisSize: 6 * @baseSize;

@strokeWidth: 2 * @baseSize;
@strokeColor: #2E363A;
@strokeStyle: @strokeWidth solid @strokeColor;

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(765deg);
  }
}

.clock {
  margin: 0 auto;
  width: @clockSize;
  height: @clockSize;
  position: relative;

  .body {
    position: absolute;
    top: 0;
    right: 0;
    width: @clockSize;
    height: @clockSize;
    border: @strokeStyle;
    border-radius: 50%;
    box-shadow: 0 0 0 @strokeWidth @backgroundColor;
    background-color: @backgroundColor;
    animation: spin 2s infinite ease;

    .hand {
      height: @handLength;
      position: absolute;
      top: (@clockSize - @strokeWidth)/2 - @handLength;
      left: (@clockSize - @strokeWidth)/2;
      border-left: @strokeStyle;

      .axis {
        border-radius: 50%;
        width: @axisSize;
        height: @axisSize;
        background-color: #000;
        position: absolute;
        bottom: -(@axisSize + @strokeWidth)/2;
        left: -(@axisSize + @strokeWidth)/2;
      }
    }
  }

  .bell, .bell-small {
    position: absolute;
    left: 11 * @baseSize;
    top: -5 * @baseSize;
    width: 8 * @baseSize;
    height: 8 * @baseSize;
    background-color: @strokeColor;
    border-radius: 50%;
  }

  .bell-small {
    transform: rotate(-45deg);
    transform-origin: 8 * @baseSize 28 * @baseSize;
    top: -8 * @baseSize;
    left: 14 * @baseSize;
    width: 6 * @baseSize;
    height: 6 * @baseSize;
  }
}

h2, h3 {
  margin: 0;
  font-weight: normal;
}

h3 {
  color: #98A0A4;
  font-size: 32px;
  font-family: Arial;
}

h2 {
  color: #50585C;
  font-size: 128px;
  margin-bottom: 40px;
}