@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(765deg);
            transform: rotate(765deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(765deg);
            transform: rotate(765deg);
  }
}
.clock {
  margin: 0 auto;
  width: 36px;
  height: 36px;
  position: relative;
}
.clock .body {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border: 2.05714286px solid #2e363a;
  border-radius: 50%;
  box-shadow: 0 0 0 2.05714286px #d9e2e6;
  background-color: #d9e2e6;
  -webkit-animation: spin 2s infinite ease;
          animation: spin 2s infinite ease;
}
.clock .body .hand {
  height: 13.37142857px;
  position: absolute;
  top: 3.6px;
  left: 16.97142857px;
  border-left: 2.05714286px solid #2e363a;
}
.clock .body .hand .axis {
  border-radius: 50%;
  width: 6.17142857px;
  height: 6.17142857px;
  background-color: #000;
  position: absolute;
  bottom: -4.11428571px;
  left: -4.11428571px;
}
.clock .bell,
.clock .bell-small {
  position: absolute;
  left: 11.31428571px;
  top: -5.14285714px;
  width: 8.22857143px;
  height: 8.22857143px;
  background-color: #2e363a;
  border-radius: 50%;
}
.clock .bell-small {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 8.22857143px 28.8px;
      -ms-transform-origin: 8.22857143px 28.8px;
          transform-origin: 8.22857143px 28.8px;
  top: -8.22857143px;
  left: 14.4px;
  width: 6.17142857px;
  height: 6.17142857px;
}
h2,
h3 {
  margin: 0;
  font-weight: normal;
}
h3 {
  color: #98A0A4;
  font-size: 32px;
  font-family: Arial;
}
h2 {
  color: #50585C;
  font-size: 128px;
  margin-bottom: 40px;
}
